<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instances</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Launched Instances</h1>
    <table border="1">
        <tr>
            <th>Instance Name</th>
            <th>Instance ID</th>
            <th>Public IP</th>
            <th>Ports</th>
            <th>Username</th>
            <th>Password</th>
            <th>Auto-Terminate Time</th>
            <th>Action</th>
        </tr>
        {% for instance in instances %}
        <tr>
            <td>{{ instance[1] }}</td>
            <td>{{ instance[2] }}</td>
            <td>{{ instance[3] }}</td>
            <td>{{ instance[4] }}</td>
            <td>{{ instance[5] }}</td>
            <td>{{ instance[6] }}</td>
            <td>{{ instance[7] }} hours</td>
            <td><a href="/terminate/{{ instance[2] }}">Terminate</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
