{% extends "base.html" %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 50vh;">
        <!--    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo">
    </div> -->
    <form method="POST" style="width: 300px; margin-top: 20px;">
        <!-- Display Flashed Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div style="text-align: center;">
            {% for category, message in messages %}
            <div style="color: {% if category == 'success' %}green{% else %}red{% endif %}; padding: 10px; margin: 10px 0; border-radius: 4px;">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
